[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Derivative
Icon=Derivative
Exec=Derivative

[X-Sailjail]
Permissions=UserDirs
OrganizationName=com.wordpress.robertocolistete
ApplicationName=Derivative
